@import '../../node_modules/normalize.css/normalize.css';
@import './card.less';
@import './form.less';

html, body, * {
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
}

@dark-blue: #394F63;

.app-container {
  -js-display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
}

.app-container > div {
  max-width: 50%;
  //min-width: 400px;
  -js-display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
	padding: 10px;
  background-color: #e7e9ec;
}

.app-container > div:first-child {
	margin-right: 20px;
  background-color: #fff;
}

.section {
  width: 60%;
}

@media(max-width: 900px) {
  .section {
    width: 90%;
  }
}


@media(max-width: 450px) {
  .section {
    padding: 20px;
  }
}

.section-heading {
  color: @dark-blue;
}

.section-subtitle {
  font-size: 12px;
}

//** Section Divider Component

.section-divider {
  text-transform: uppercase;
  color: #c2c9ca;
  hr {
    border: 1px solid #c2c9ca
  }
}

@media(max-width: 900px) {
  .app-container {
    flex-direction: column;
    height: auto;
  }

  .app-container > div {
    max-width: 100%;
  }
}
